################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
*.sqlite
/.vs
/packages
/WcfDumper/obj
/WcfDumper/bin